.details__btn {
  font-family: "BeaufortforLOL-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #5c7a91;
  text-align: center;
  cursor: pointer;
}

.details__btn {
  width: 100px;
  margin: 0 auto;
}
